# This is Git's per-user configuration file.
[user]
  name = Guillaume Cauchon
  email = gcauchon@gmail.com
  signingkey = DC13AB49F1B3C51A
[core]
  autocrlf = input
  excludesfile = /Users/gcauchon/.gitignore_global
  editor = nvim
[commit]
  gpgsign = true
[merge]
  verbosity = 5
  tool = diffmerge
[diff]
  verbosity = 5
  tool = tig
[alias]
  a = add -A
  c = commit -S -m
  ca = commit -S --amend
  s = status --untracked-files=all
  br = branch -vv
  bl = branch --list
  bd = branch -D
  co = checkout
  cb = checkout -b
  f = fetch
  fp = fetch --prune
  m = merge
  fm = pull
  unstage = reset HEAD
  rollback = reset --soft HEAD^1
  r = rebase
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort
  p = push
  ph = push -u origin HEAD
  pf = push --force-with-lease
[gpg]
  program = /usr/local/bin/gpg
