[user]
  name = Guillaume Cauchon
  email = gcauchon@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKjm6Owvzgxez9bBPxpS+uujtoYBsQ5sSWftIV+co37i

[core]
  autocrlf = input
  excludesfile = /Users/gcauchon/.gitignore_global
  editor = nvim

[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX

[diff]
  noprefix = true
  tool = tig
  verbosity = 5

[init]
	defaultBranch = main

[merge]
  tool = diffmerge
  verbosity = 5

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[alias]
  a = add --all
  c = commit --gpg-sign --message
  ca = commit --gpg-sign --amend
  s = status --untracked-files=all
  br = branch --verbose
  bl = branch --list
  bd = branch --delete --force
  co = checkout
  cb = checkout -b
  f = fetch
  fm = !git fetch --verbose && git merge --ff-only
  fp = fetch --prune
  m = merge --ff-only
  unstage = reset HEAD
  rollback = reset --soft HEAD^1
  r = rebase
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort
  p = push
  ph = push --set-upstream origin HEAD
  pf = push --force-with-lease
  po = push origin

[pull]
	rebase = true
