# My git configuration file.
[user]
  email = gcauchon@gmail.com
  name = Guillaume Cauchon
  signingkey = 1D667DEA56F2CAA2
[core]
  autocrlf = input
  excludesfile = /Users/gcauchon/.gitignore_global
  editor = nvim
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX 
  show = diff-so-fancy | less --tabs=4 -RFX 
[gpg]
  program = /opt/homebrew/bin/gpg
[diff]
  noprefix = true
  tool = tig
  verbosity = 5
[commit]
  gpgsign = true
[merge]
  tool = diffmerge
  verbosity = 5
[alias]
  a = add --all
  c = commit --gpg-sign --message
  ca = commit --gpg-sign --amend
  s = status --untracked-files=all
  br = branch --verbose
  bl = branch --list
  bd = branch --delete --force
  co = checkout
  cb = checkout -b
  f = fetch
  fm = !git fetch --verbose && git merge --ff-only
  fp = fetch --prune
  m = merge --ff-only
  unstage = reset HEAD
  rollback = reset --soft HEAD^1
  r = rebase
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort
  p = push
  ph = push --set-upstream origin HEAD
  pf = push --force-with-lease
  po = push origin
[pull]
	rebase = true
[init]
	defaultBranch = main
