add_newline = false
command_timeout = 750
scan_timeout = 250
format = """
$directory\
$git_branch$git_state$git_status\
$elixir\
$ruby\
$nodejs\
$python\
$dotnet\
$cmd_duration\
$jobs\
$status\
$character
"""

[directory]
truncation_symbol = "…/"
truncate_to_repo = true
style = "white"

[git_branch]
format = "[ $branch]($style) "

[elixir]
format = "[ $otp_version](red) [ $version](purple) "

[ruby]
format = "[ $version](red) "

[nodejs]
format = "[󰎙 $version](green) "

[python]
format = "[ $version](yellow) "

[dotnet]
format = "[ $version](blue)"

[cmd_duration]
min_time = 1000
show_milliseconds = true
format = "[ $duration]($style) "

[jobs]
format = "[ $number]($style) "
style = "bold blue"

[status]
symbol = "✖"
map_symbol = true
format = '[\[$symbol $common_meaning$signal_name$maybe_int\]]($style) '
style = "red"
disabled = false
